/* Muhammad Rafi Haqqi Ramadhan */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
    
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
  background-size: 500% 500%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box {
  width: 500px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
}

h1 {
  color: rgb(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 36px;
  padding: 30px 0;
}

.content {
  padding: 0 30px;      
}
    
.input {
  background: #f5f5f5;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-bottom: 10px;
}

.input label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.input input {
  padding: 5px;
  border-radius: 4px;
  display:block;
  width: 100%;
  font-size: 28px;
  background-color: white;
  background-image: url('/gambar/pen.png');
  background-position: 15px 13px;
  background-repeat: no-repeat;
  padding-left: 45px;
  font-family: "Nunito", sans-serif;
}
    
.inputW {
  margin-bottom: 25px;
}

.inputW label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.inputW input {
  padding: 5px;
  border-radius: 4px;
  display:block;
  width: 100%;
  font-size: 28px;
  background-color: white;
  background-image: url('/gambar/pen.png');
  background-position: 15px 13px;
  background-repeat: no-repeat;
  padding-left: 45px;
  font-family: "Nunito", sans-serif;
}

.inputH {
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.inputH label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.inputH input {
  padding: 5px;
  border-radius: 4px;
  display:block;
  width: 100%;
  font-size: 28px;
  background-color: white;
  background-image: url('/gambar/pen.png');
  background-position: 15px 13px;
  background-repeat: no-repeat;
  padding-left: 45px;
  font-family: "Nunito", sans-serif;
}
  
button.calculate {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #eee9e9;
  background-color: #4f7df9;
  font-size: 16px;
  border-radius: 7px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: all 0.5s;
  margin-bottom: 25px;
}

button.calculate:hover {
  background: #00aeff;
}

.result p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.result #result {
  font-size: 36px;
  font-weight: 900;
  color: #4f7df9;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}

#comment {
  color: #000000;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}

.comment {
  display: none;
}

.saran {
  display: none;
}

#saran {
  color: #000000;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
  font-weight: lighter;
  font-family: 'Poppins';
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 15px
}

.footer-text {
  text-decoration: none;
  color: rgba(40, 40, 40, 0.8);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  transition: all 0.5;
}

.footer-text:hover {
  color: rgba(40, 40, 40, 1);
}

.gender {
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

/* Style for Radio */
.gender .container {
  display: block;
  position: relative;

  /* margin-bottom: 12px; */
  margin-top: 7px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default radio button */
.gender .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.gender .container:hover input ~ .checkmark {
  background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
.gender .container input:checked ~ .checkmark {
  background-color: #4f7df9;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
/* Show the indicator (dot/circle) when checked */
  .gender .container input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the indicator (dot/circle) */
.gender .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* END Style for Radio */

.containerHW {
  padding: 1px;
}
  
/* The Result (background) */
.result {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 150px;
}

/* Result Content */
.result-content {
  background-color: #fefefe;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: justify;
  box-shadow: #393c76 -1px 2px 2px 1px;
}

#resultTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 8px;
  padding-left: 20px;
  color: rgb(24, 23, 23);
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

#resultText {
  margin-top: -10px;
  padding-right: 5px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 23, 23);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 300px;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 10px;
  box-shadow: #393c76 -1px 2px 2px 1px;
}

#modalText {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 23, 23);
}

.modal-wrong {
border: 2px solid red;
}

.modal-correct {
  border: 2px solid green;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}

/* The Close Result Button */
.close-result {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close-result:hover {
  color: #d41111; 
}

.linkDownload {
  position: fixed;
  background-color: #d12322;
  margin: 20px;
  padding: 10px 10px;
  left: -0px;
  border-radius: 5px;
  bottom: -0px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.43s ease-in-out;
}

.linkDownload i {
  padding-left: 7px;
}
  
.linkDownload:hover {
  text-decoration: none;
  background-color: black;
}
  
@media (max-width: 700px){
    .box {
        width: 380px;
    }

    .input label {
        font-size: 18px;
    }

    .inputH label, .inputW label {
        font-size: 14px;
    }

    .input input, .inputH input, .inputW input{
        font-size: 24px;
    }

    .modal-content {
      width: 380px;
    }
/* Muhammad Rafi Haqqi Ramadhan */
}